python-telegram-bot==21.0.1
python-dotenv
aiosqlite
apscheduler
SQLAlchemy
pytz
beautifulsoup4
aiohttp
tenacity
nest-asyncio
google-generativeai
geopy

# --- НОВЫЕ ПИННИНГИ ВЕРСИЙ ---
swisseph==2.10.03.post1
flatlib==0.2.7
